.arrow-right {
    width: 20px;
    height: 0;
    background: white;
    display: inline-block;
    position: relative;
    transition: all .2s ease;
    margin-left:.5rem;
    border-top:1px solid;
    border-bottom:1px solid;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 8px;
        height: 8px;
        border-right: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -4px;
    }

    a:hover &{
        transform:translateX(3px);
    }
}